td, th {
	padding: 1px 6px;
	border: solid 1px;
}

p {
	text-align: center;
}

#main_style {
	text-align: center; 
	background-color: #baecff;
}

#statistic_table {
	text-align: center;
	margin: 0px auto; 
}

#authors_table {
	text-align: center;
	margin: 0px auto; 
	border-collapse: collapse; 
	padding: 15px; 
	background-color: #edd4b6;
	border: solid;
}

#books_table {
	border: solid;
	text-align: center; 
	margin: 0px auto; 
	border-collapse: collapse; 
	padding: 15px; 
	background-color: #edc390;
}

